
body {
    font-family: Arial;
    text-align: center;
    background: rgb(107, 21, 40);
    background: radial-gradient(circle, rgb(107, 21, 40) 28%, rgba(0,0,0,1) 100%);
}

#cards {
    position: relative;
    z-index: 2;
    padding: 10px;
}

.table-border {
    position: relative;
    background-color: #63370b;
    background-image: url('/images/wood-grain.jpg');
    background-size: 25%;
    display: inline-block;
    margin: 20px auto;
    padding: 15px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 130px;
}

.table {
    position: relative;
    background: url(/images/felt.jpg);
    padding: 20px 0;
    display: inline-block;
    text-align: left;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 120px;
}

.controls {
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
    border: 2px solid #555555;
    margin: 10px;
    width: 120px;
}

#player-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

#admin-controls {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 10px;
}

.controls .title {
    font-weight: bold;
    text-align: left;
}

.controls button {
    margin: 5px 0;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.controls button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}

.controls button:active {
    position:relative;
    top:1px;
}

.controls button:disabled {
    opacity: 0.5;
}

#amount {
    font-size: 12px;
    width: 70px;
    padding: 6px;
}

.hands {
    width: 860px;
}

#seats-1-to-4 .seat {
    float: left;
}

#seats-5-to-8 .seat {
    float: right;
}

#seat-0, #seat-3 {
    top: 60px;
}

#seat-7, #seat-4 {
    bottom: 60px;
}

#center {
    margin: 20px auto;
    height: 140px;
    width: 430px;
    border: 1px solid #aaa;
    position: relative;
    border-radius: 20px;
}

#center-branding {
    z-index: 1;
    width: 430px;
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Great Vibes', cursive;
    color: #5c8a38;
    position: absolute;
    top: 0;
    left: 0;
}

.seat {
    position: relative;
    width: 166px;
    height: 145px;
    border: 1px solid #aaa;
    margin: 0 23px;
    border-radius: 10px;
}


.seat .dealer {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #000;
    background: linear-gradient(to bottom, #ff9389 5%, #d74761 100%);
    border-radius: 10px;
    border: 1px solid #ff553a;
    line-height: 17px;
    text-align: center;
    min-width: 15px;
    padding: 2px;
}

.seat.empty {
    opacity: 0.5;
}

.chips {
    padding: 2px;
    border-radius: 10px;
    color: #333;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    border: 1px solid #ffaa22;
    line-height: 17px;
    text-align: center;
    min-width: 15px;
}

.stack {
    position: absolute;
    top: -10px;
    right: -10px;
}

.bet, .pot {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.name {
    padding: 4px 10px;
    overflow: hidden;
    border-bottom: 1px solid #aaa;
    color: #fff;
}

.card {
    width: 70px;
    height: 103px;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 5px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
}

.card.grey {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.card.winner {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    opacity: 0.5;
}

footer a {
    color: #fff;
}